<h1>We Are Glad You clicked on Us!</h1>

<% @listing.photos.each do |photos| %>
<%= image_tag photos.thumb.url %>
<% end %>

<% if @listing.mine?(current_user) %>
<%= link_to "Edit listing", edit_listing_path(@listing) %>
<%= link_to "Delete Listing", listing_path(@listing), method: :delete, data: {:confirm => 'Are you sure?'} %>
<% end %>

<h2><%= @listing.property_name %></h2>
	<h3>Country: <%= @listing.country %></h3>
	<h3>City/Town: <%= @listing.city_town %></h3>
	<h3>Home type: <%= @listing.home_type %></h3>
	<h3>No. of guests: <%= @listing.guest %></h3>
	<h3>Description : <%= @listing.description %></h3>
	<h3>Price (negotiable) : <%= @listing.price %></h3>

    <% if signed_in? %>    
		<%= render 'reservations/form' %>
	<% else %>
	<p>Please <%= link_to "Sign in", sign_in_path %> to make a reservation</p>
	<% end %>

		<% if current_user.id == @listing.user_id %>
			<% if @listing.reservations.any? %>
			<table>
				<thead>
					<tr>
						<th>Reservation ID</th>
						<th>User ID</th>
						<th>Check-In Date</th>
						<th>Check-out Date</th>
					</tr>
				</thead>
				<tbody>
				<tr><a href="/listings/<%= @listing.id %>"></a>
				<% @listing.reservations.each do |reservation| %></tr>
				<!-- <h3>Reservation Id | User Id | Check-In Date | Check-Out Date | -->
				<!-- </h3> -->
					<td><a href= "/listings/<%= @listing.id %>/reservations/<%= reservation.id %>"><%= reservation.id %></a>
					</td>
					<td><%= reservation.user.email %></td>
					<td><%= reservation.check_in %></td>
					<td><%= reservation.check_out %></td>
				<% end %>	
			<% end %>		
		<% end %>
	</tbody>
</table>
<%= link_to "Back to all listings", listings_path %>